body{
    padding: 0;
    margin: 0;
    background-color: #586c92;
}
.mycanvas{
    height: 450px;
    width: 400px;
    position: absolute;
    margin:auto;
    Left:0;
    right:0;
    top:0;
    bottom:0;
    transform: rotate(10deg);
    animation:nod 4s infinite;

}
@keyframes nod{
    50%{
        transform: rotate(-10deg);
    }
}
.santa{
    position: relative;
top:165px;
Left:95px;
}
.beard{
    background-color:white;
    height:220px;
    width:220px;
    border-radius: 0 50% 50% 50%;
    transform:rotate(-135deg);
}

.face{
    background-color: #fcd9c3;
    height: 60px;
    width:155px;
    position: relative;
    bottom: 180px;
    left:31px;
    border-radius: 35px;
}

.hat{
    background-color:#f14a68;
    height:150px;
    width:150px;
    position: relative;
    bottom:420px;
    left:35px;
    border-radius: 0 200px 0 0;
}
.bottom{
    background-color:white;
    height: 50px;
    width: 200px;
    border-radius: 20px;
    position: relative;
    top: 140px;
    right: 25px;
}